html
  head
    title= pageTitle
    link(rel='stylesheet' type='text/css' href='./stylesheets/components.css')
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans|Pacifico')
  body
    .jumbotron
      h1 Bring home the kindest bot ever!
      .slack-window
        .sidebar
          .head
            h1 channels
          .body
            p #general
            p #octocat
          .head
            h1 DIRECT MESSAGES
          .body
            .person
              span
              p meepty
            .person
              span
              p daisy
            .person.active
              span
              p istaryou, you
        .messages
          .msghead istaryou, you
          .msg
            .icon#logo
            .body
              .sender
              .msgtext
