@import 'extensions'
html,body
  font-family: 'Open Sans', sans-serif
  font-size: 18px
  padding: 0
  margin: 0
  box-sizing: border-box
  +min-size(100%, 200vh)
.jumbotron
  +flex(column wrap, flex-end)
  +min-size(100%, 100vh)
  background: linear-gradient(90deg, #E16363, #F24BAA)
  color: #FFF
  h1
    margin: 3em auto 0em auto
    font-family: 'Pacifico', cursive
    font-size: 50px
  .slack-window
    +flex(row wrap, flex-start)
    +size(1000px, 600px)
    background: #FFF
    color: #535353
    font-family: 'Open Sans', sans-serif
    margin: 0 auto
    position: relative
    bottom: -10em
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25)
    border-radius: 21px
    overflow: hidden
    .sidebar
      background: #F2F4F7
      +size(250px, 100%)
      padding-left: 2em
      .head h1
        font-family: 'Open Sans', sans-serif
        text-transform: uppercase
        font-size: 20px
